@{
    ViewData["Title"] = "Thành công";
}

<div class="container-xxl py-5 mt-5 pt-5 text-center">
    <div class="container py-5">
        
        <i class="fa fa-check-circle text-success" style="font-size: 100px;"></i>

        
        <h1 class="display-4 fw-bold mt-3">Đặt hàng thành công!</h1>

        
        <div class="mt-5">
            <a asp-controller="Product" asp-action="Index" class="btn btn-primary btn-lg px-5">Tiếp tục mua hàng</a>
        </div>
    </div>
</div>